<div class="container__small-card">
  <div class="container__small-card__content">
    <div class="small-card__photo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_QMJN2obO_BRv0dfLG_gynbKLjW3VeWkDCYTGPIIfO4IjU8ZfxuZC18-FIICNq1400rc&usqp=CAU"
        alt=""
      />
    </div>

    <div class="small-card__title">
      <h1><a href="#">Modelo</a></h1>
    </div>

    <div class="small-card__description">
      <p>
        <a
          >"Minha armadura nunca foi uma distração ou um hobby. Era um casulo. E
          agora, eu sou um novo homem. Podem levar minha casa, todos os meus
          truques e brinquedos. Mas uma coisa nunca poderão tirar de mim: eu sou
          o Homem de Ferro."</a
        >
      </p>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
