.container__content{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__cover > img{
  width: 500px;
  min-width: 500px;
}
.content__description {
  margin: 10px;
}
.content__title{
  color: var(--title);
}
.content__description > p{
  color: gray;
}





