.container__menu-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
}
.container__logo > a > h1{
  padding: 10px;
  color: var(--logo);
}
.container__menu-bar > .container__list ul{
  display: flex;
  flex-direction: row;
  color: var(--logo);
}
.container__menu-bar > .container__list ul > li {
  margin: 15px;
  text-decoration: none;
  color: var(--logo);
}
.container__menu-bar > .container__list ul > li > a{
  color: var(--logo);
}

.container__icon ul {
  display: flex;
  flex-direction: row;
}
.container__icon ul > li > a > svg{
  width: 25px;
  margin: 5px;
}
.container__icon ul > li > a > svg:hover{
  transform: scale(1.2);
}
